.neuralNetworkContainer {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .layersContainer {
    display: flex;
    gap: 100px;
  }
  
  .layer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .neuron {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
  }
  
  .connections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .neuralNetworkContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .networkSvg {
    width: 100%;
    height: 100%;
  }
  